In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

import glob
import os

In [9]:
csv_files = glob.glob("raw_data\\" + "*.csv")

li = list()

for files in csv_files:
    df = pd.read_csv(files)
    split = files.split('_')
    i = 7
    station_name = ""
    while split[i] != 'Guwahati':
        station_name += split[i]
        i+=1
    df['Station'] = station_name
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)
df.head()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s),Station
0,2020-01-01 00:00:00,129.15,190.23,44.72,11.26,85.47,14.84,12.32,1.78,17.89,...,16.90,76.03,0.92,138.29,0.02,1.94,193.44,929.01,NaN,5073RailwayColony
1,2020-01-02 00:00:00,59.62,101.89,14.05,12.40,36.34,14.32,12.21,0.67,17.90,...,18.68,70.97,1.07,133.76,0.01,0.89,242.83,896.30,NaN,5073RailwayColony
2,2020-01-03 00:00:00,70.38,101.91,16.60,9.75,37.67,13.72,12.23,0.70,17.86,...,16.09,87.21,0.99,147.38,0.04,3.74,103.09,929.92,NaN,5073RailwayColony
3,2020-01-04 00:00:00,95.40,130.76,22.57,7.66,45.27,15.40,12.02,0.92,17.99,...,16.68,84.10,0.69,151.59,0.07,6.47,203.69,917.84,NaN,5073RailwayColony
4,2020-01-05 00:00:00,96.59,136.95,40.86,9.45,77.20,15.54,12.24,1.27,17.92,...,15.88,85.97,0.82,211.34,0.07,6.79,147.66,930.92,NaN,5073RailwayColony

In [10]:
df.Station.unique()

array(['5073RailwayColony', '5417PanBazaar', '5651IITG',
       '5683LGBIAirport'], dtype=object)